/* lettertype ophalen */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);

}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);

}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

h1,
h2,
h3,
p {
    font-family: 'Poppins-SemiBold', sans-serif;
}

/* einde lettertype */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade1 {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.fade2 {
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

@keyframes slide-up {

    /* from { transform: translate3d(0, 100%, 0); } */
    /* to   { transform: translate3d(0, 0, 0); } */
    from {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
        color: #fff
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        color: #333;
    }
}

.slide-up1 {
    -webkit-animation: slide-up 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide-up 2s;
    /* Firefox < 16 */
    -ms-animation: slide-up 2s;
    /* Internet Explorer */
    -o-animation: slide-up 2s;
    /* Opera < 12.1 */
    animation: slide-up 2s;
}




* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background: linear-gradient(291deg, rgb(175 175 175 / 35%), rgb(175 175 175 / 45%)), url(../img/background.jpg);
    background-repeat: inherit;
}

a {
    text-decoration: none;
}

/* navbar  */
header {
    background-color: #424242;
    color: #fff;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav a {
    color: #9D9D9D;

}

.active {
    color: #fff;
}

.menu-icon {
    display: none;
}

/* einde navbor */
main {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.right-align {
    text-align: end;
}

.center-align {
    text-align: center;
}

#banner {
    font-size: 5.3em;
    /*85px;*/
    font-weight: 800;
    text-align: center;
    margin-top: 10%;
    font-family: 'Poppins-SemiBoldItalic', sans-serif;
}

/* begin index pagina */

/* .koptexth2 {
    text-align: center;
    font-size: 2vw;
} */

.flex-blocks {
    display: flex;
    justify-content: center;
    margin: 2.4em 0;
}

.flex-blocks a {
    color: #333;
}

.flex-block {
    margin: 1.56em;
    padding: 0.6em;
    text-align: center;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    color: #666;
}

.flex-block img {
    max-width: 50%;
    height: auto;
    margin-bottom: 0.6em;
}

.flex-block h3 {
    color: #333;
}


/* einde index */

/* css voor artists */
.flex-blocks_artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.4em 0;
}

.flex-blocks_artist a {
    text-decoration: none;
    color: #333;
}

.flex-block_artist {
    flex-basis: calc(25% - 20px);
    margin: 1.56em;
    padding: 0.1em 0.4em;
    text-align: center;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    color: #666;
}

.flex-block_artist h3 {
    color: #333;
    margin-top: 0.2em;
}

.flex-block_artist img {
    max-width: 70%;
    height: auto;
    margin: 0.6em 0.3em;
}

/* css voor artist overview */
/* 
/* 
/*
*/
.thumbnail-bg {
    background-color: #65aa3b;
    height: 30vh;
    width: auto;
    position: relative;
    z-index: 1;
}

.artist-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-items {
    width: 49%;
    margin-bottom: 1.2em;
    box-sizing: border-box;
    padding: 1.2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);

}

.artist-items img {
    width: 20vh;
    height: auto;
    margin-left: 0;
}

.artist-items h3 {
    text-align: center;
}

.artist-items p {
    color: #333;
}

.artist-items a {
    color: #663f3f;
}

.full-width {
    width: 100%;
}

.grid-foto .portret-img-mid {
    width: 10vh;
}

.grid-foto {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    align-items: center;
    justify-content: space-between;
    overscroll-behavior: none;
    padding: 2vw 1vw;
    justify-content: center;

}

.grid-foto img {
    width: 20vh;
    height: auto;
    margin-bottom: 0.3em;
}

.artist-items .icons {
    width: 35px;
    float: left;
    padding: 2px;
}

.grid-info {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.grid-info p {
    font-size: 1.1em;
    margin-left: 1em;
    margin-top: 1.3em;
}

.socials_icon {
    float: right;
    margin-right: 1.2em;
}


.album-list {
    list-style: none;
    padding: 0;
}

.album-item {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.album-item img {
    width: 75px;
    height: auto;

}

.kopname {
    text-align: center;
}

/* einde  artist overview */

/* begin update pagina */



.flex-blocks_update {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.4em 0;
}

.flex-blocks_update a {
    text-decoration: none;
    color: #333;
}

.flex-block_update {
    flex-basis: calc(45% - 10px);
    margin: 1.56em;
    padding: 0.1em 0.4em;
    text-align: center;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    color: #666;
}

.flex-block_updatet h3 {
    color: #333;
    margin-top: 0.2em;
}

.flex-block_update img {
    max-width: 70%;
    height: auto;
    margin: 0.6em 0.3em;
}


/* einde update pagina */



/* media querie voor wanneer je scherm kleiner is dan 720px */
@media only screen and (max-width: 720px) {

    li {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    ul {
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 1;
        display: none;
    }

    ul.show {
        display: flex;
        padding: 20px;
    }

    #banner {
        font-size: 3.5em;
    }

    .flex-blocks {
        flex-wrap: wrap;
    }

    .flex-block {
        display: block;
        flex-direction: column;
    }

    .koptexth2 {
        text-align: center;
        font-size: 1.56em;
    }

    .flex-block_artist {
        flex-basis: auto;
    }

    .artist-items {
        width: 100%;
    }

    .artist-items img {
        width: 10vh;
    }

    .grid-foto img {
        width: 20vh;
    }

    .grid-foto {
        gap: 1vw;
        padding: 2vw 1vw;
        justify-content: center;
    }

}

/* einde media querie */