/* lettertype ophalen */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

h1,
h2,
h3,
p {
    font-family: "Poppins-SemiBold", sans-serif;
}

/* einde lettertype */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade1 {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.fade2 {
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

@keyframes slide-up {

    /* from { transform: translate3d(0, 100%, 0); } */
    /* to   { transform: translate3d(0, 0, 0); } */
    from {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
        color: #fff;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        color: #333;
    }
}

.slide-up1 {
    -webkit-animation: slide-up 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide-up 2s;
    /* Firefox < 16 */
    -ms-animation: slide-up 2s;
    /* Internet Explorer */
    -o-animation: slide-up 2s;
    /* Opera < 12.1 */
    animation: slide-up 2s;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background: linear-gradient(291deg,
            rgb(175 175 175 / 35%),
            rgb(175 175 175 / 45%)),
        url(../img/background.jpg);
    background-repeat: repeat;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* navbar  */
header {
    background-color: #424242;
    color: #fff;
    padding: 25px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav a {
    color: #9d9d9d;
}

.active {
    color: #fff;
}

.menu-icon {
    display: none;
}


/* einde navbor */
main {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.right-align {
    text-align: end;
}

.center-align {
    text-align: center;
}

#banner {
    font-size: 5.3em;
    /*85px;*/
    font-weight: 800;
    text-align: center;
    margin-top: 10%;
    font-family: "Poppins-SemiBoldItalic", sans-serif;
}

footer {
    background-color: #333;
    color: #9d9d9d;
    padding: 20px;
    text-align: center;
    width: 100%;

}

/* begin index pagina */


.flex-blocks-index {
    display: flex;
    justify-content: center;
    margin: 2.4em 0;
}

.flex-blocks-index a {
    color: #333;
}

.flex-block-index {
    margin: 1.56em;
    padding: 0.6em;
    text-align: center;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    color: #666;
}

.flex-block-index:hover {
    background-color: rgba(214, 214, 214, 0.79);
    border-radius: 4px;
    box-shadow: 0 0 0.6em rgba(50, 50, 50, 0.51);
}

.flex-block-index img {
    max-width: 50%;
    height: auto;
    margin-bottom: 0.6em;
}

.flex-block-index h3 {
    color: #333;
}

/* einde index */

/* css voor artists */

.flex-blocks_artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.4em 0;
}

.flex-blocks_artist a {
    text-decoration: none;
    color: #333;
}

.flex-block_artist {
    flex-basis: calc(25% - 20px);
    margin: 1.56em;
    padding: 0.1em 0.4em;
    text-align: center;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    color: #666;
}

.flex-block_artist h3 {
    color: #333;
    margin-top: 0.2em;
}

.flex-block_artist img {
    max-width: 70%;
    height: auto;
    margin: 0.6em 0.3em;
}


/* update pagina */

.flex-blocks_update {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.4em 0;
}

.flex-blocks_update a {
    text-decoration: none;
    color: #333;
}

.flex-block_update {
    flex-basis: calc(45% - 10px);
    margin: 1.4em;
    padding: 0.7em 0.7em;
    text-align: center;
    border: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    color: #666;
}

.flex-block_update h3 {
    color: #333;
    margin-top: 0.2em;
}

.flex-block_update p {
    text-align: end;
    padding: 1.2em 1.2em;
}

.flex-block_update img {
    float: left;
    max-width: 40%;
    height: auto;
    margin: 0.6em 0.3em;
}

.flex-block_update .right-align {
    color: #65aa3b;
}

/* css voor artist overview */



.thumbnail-bg {
    background-color: #65aa3b;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    z-index: -1;
}

.artist-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-items {
    width: 49%;
    margin-bottom: 1.2em;
    box-sizing: border-box;
    padding: 1.2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);

}

.artist-items img {
    width: 20vh;
    height: auto;
    margin-left: 0;
}

.artist-items h3 {
    text-align: center;
}

.artist-items p {
    color: #333;
    margin-left: 1em;
}

.artist-items a {
    color: #663f3f;
}

.full-width {
    width: 100%;
}

.grid-foto .portret-img-mid {
    width: 8em;
}

.grid-foto {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    align-items: center;
    justify-content: space-between;
    overscroll-behavior: none;
    padding: 1em 1em;
    justify-content: center;

}

.grid-foto img {
    width: 15em;
    height: auto;
    margin-bottom: 0.3em;
}

.artist-items .icons {
    width: 35px;
    float: left;
    padding: 2px;
}

.grid-info {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.grid-info p {
    font-size: 1.1em;
    margin-left: 1em;
    margin-top: 1.3em;
}

.socials_icon {
    float: right;
    margin-right: 1.2em;
}


.album-list {
    list-style: none;
    padding: 0;
}

.album-item {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.album-item img {
    width: 15%;
    height: auto;
}

.kopname {
    text-align: center;
}

/* einde  artist overview */

/* 404 pagina */

.divbg {
    background-color: #fff;
    width: 50vw;
    margin: 0 auto;
    border-radius: 8px;
    padding: 3em;

}

.divbg a {
    color: #65aa3b;
}

.divbg a:hover {
    color: #b01c1c;
}

/* media querie voor wanneer je scherm kleiner is dan 720px */
@media only screen and (max-width: 720px) {
    nav>li {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    nav>ul {
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 1;
        display: none;
    }

    nav>ul.show {
        display: flex;
        padding: 1.2em;
    }

    #banner {
        font-size: 3.5em;
    }

    .flex-blocks-index {
        flex-wrap: wrap;
    }

    .flex-block-index {
        display: block;
        flex-direction: column;
    }

    /* artist overview */

    .flex-block_artist {
        flex-basis: auto;
    }

    .artist-items {
        width: 100%;
    }



    .flex-block_update {
        flex-basis: auto;
    }

    /* artist overview fred*/
    .album-item img {
        width:17%;
        height: auto;
    }

    .divbg {
        width: 100%;
    }
}

/* einde media querie */